* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #adde87;
  width: 100%;
}

.frame {
  display: flex;
  justify-content: center;
}

.logo > a > img {
  height: 6vh;
  width: 10vh;
  padding: 0;
}

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 3vh;
}

a {
  text-decoration: none;
}

a > img {
  height: 6vh;
  width: 4vh;
  padding-left: 1vh;
  padding-top: 2vh;
}

.paginaPromocao {
  display: flex;
  justify-content: space-between;
  padding: 5vh;
  padding-bottom: 5vh;
  border-bottom: 1px solid #cfcaca;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30vh;
  row-gap: 8vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

figure {
  border-radius: 10px;
  height: 35vh;
  position: relative;
}

figure:hover::after {
  content: "";
  background-color: #5ca72090;
  position: absolute;
  width: 100%;
  height: 33vh;
  border-radius: 9px;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
}

button {
  background-color: #5ca720;
  color: #ffffff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 12vh;
  height: 4vh;
  font-weight: 700;
}

button:hover {
  background-color: #512200af;
  width: 15vh;
  height: 5vh;
}

span {
  color: #5ca720;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.produtos > div > p {
  padding: 1vh 0;
}

footer {
  background-color: #f9f9f9;
}

footer > section {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5vh;
  border-top: 1px solid #cfcaca;
}

.informacoes {
  padding: 5vh;
}

input {
  height: 4vh;
  width: 30vh;
  border: none;
}

.inscrever {
  background-color: #5ca720;
  color: #ffffff;
  border: 0;
  width: 12vh;
  height: 4vh;
  font-weight: 700;
  border-radius: 0;
}

h4 {
  padding: 1vh;
}

.pagamentos > img {
  height: 4vh;
  width: 6vh;
  padding-left: 1vh;
}
