@media screen and (min-width: 320px) and (max-width: 450px) {
 

  header {
    background-color: #adde87;
  }

  .frame {
    display: flex;
    align-items: center;
    height: 14vh;
    max-width: 50vh;
  }

  .frame img{
    height: 100%;
    max-width: 100%;
  }

  .logo > a > img {
    height: 6vh;
    width: 10vh;
    padding: 0;
  }

  nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 3vh;
  }

  a {
    text-decoration: none;
  }

  a > img {
    height: 6vh;
    width: 4vh;
    padding-left: 1vh;
    padding-top: 1vh;
  }

  .paginaPromocao {
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vh;
    font-size: 1vh;
    border-bottom: 1px solid #cfcaca;
  }

  .produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2vh;
    row-gap: 2vh;
    padding: 2vh;
  }

  figure {
    border-radius: 10px;
    height: 17vh;
    width: auto;
  }

  figure img {
    height: 15vh;
    width: auto;
  }

  figcaption {
    font-size: 1.3vh;
    font-weight: bold;
  }

  figure:hover::after {
    content: "";
    background-color: #5ca72090;
    border-radius: 8px;
    height: 15vh;
    width: 15vh;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
  }

  button {
    background-color: #5ca720;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 8vh;
    height: 2vh;
    font-weight: 700;
  }

  button:hover {
    background-color: #512200af;
    width: 10vh;
    height: 3vh;
  }

  span {
    color: #5ca720;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }

  p {
    font-size: small;
  }
  .produtos > div > p {
    padding-top: 0.5vh;
  }

  footer {
    background-color: #f9f9f9;
    border-top: 1px solid #cfcaca;
  }

   .informacoes {
    display: inline;
    padding: 0;
  }
  .logos {
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vh 2vh 1vh;
    border-top: 1px solid #cfcaca;
  }

  form {
    padding: 1vh;
  }

  form h4 {
    padding-left: 0;
  }

  input {
    height: 5vh;
    width: 35vh;
    border: none;
    margin-bottom: 1vh;
    }

  .inscrever {
    background-color: #5ca720;
    color: #ffffff;
    border: 0;
    width: 35vh ;
    height: 5vh;
    font-weight: 700;
    border-radius: 0;
  }

  .inscrever:hover{
      background-color: #512200af;
      width: 35vh;
      height: 5vh;
    }

  h4 {
    padding: 1vh;
  }

  .pagamentos > img {
    height: 5vh;
    width: 5vh;
    padding-left: 1vh;
    padding-top: 1vh;
  }
}
